body {
    background-image: url("img/faded-office.png");
    background-size: cover;
    font-family: 'open sans';
    color: #020202;
    margin: 70px;  
    font-size: 20px;
}
.btn {
    font-family: 'open sans';
    background-color: #0ea5e9;
    border: none;
    color: white;
    padding: 15px 20px;
    margin: 20px 0px;    
}

.underline {
    border-bottom: 5px solid #0ea5e9;
}